body {
  /* background-color: #f5f7fb; */
  background-image: linear-gradient(to bottom right, white, #f5f7fb);
}
.header-class {
  opacity: 1;
}
.header-class .header-color {
  background-image: linear-gradient(to top right, #450b7c, #563cc9, #49e9fb);
  height: 100vh;
}
.header-color .navbar-relative {
  position: absolute;
  top: 6px;
  left: 18%;
  display: flex;
  justify-content: space-between;
  width: 64%;
  padding: 15px 0 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: rgb(248, 235, 210);
  cursor: pointer;
  font-size: 0.85rem;
  z-index: 100;
}
.header-color .navbar-relative .internal span {
  padding: 0px 16px;
}
.header-color .navbar-relative .internal span:hover {
  color: rgb(32, 32, 32);
}
.header-color .top-overlay-relative {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30%;
  /* background-image: linear-gradient(
    to left bottom,
    rgba(37, 37, 37, 0.312),
    rgba(255, 255, 255, 0)
  ); */
  background-image: linear-gradient(
    180deg,
    rgba(13, 0, 32, 0.3) -40px,
    rgba(53, 0, 58, 0) 200px
  );
}

.header-color .pattern-relative {
  overflow: hidden;
  position: absolute;
}
.header-color .maintext-relative {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bigtext {
  font-size: 4.2rem;
  color: #f5f7fb;
  text-shadow: 1px 1px 10px 10px black;

  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
}
.button-relative {
  z-index: 500;
}
.button-relative button {
  padding: 16px;
  width: 188px;
  margin: 16px 20px;
  border-radius: 50px;
  background-color: #f5f7fb;
  border: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  font-size: 12.2px;
  font-weight: 600;
  color: #5238b1;
  cursor: pointer;
}
.button-relative button:hover {
  background-color: rgb(255, 236, 255);
}

.pattern-image {
  object-fit: cover;
  width: 118%;
  opacity: 0.8;
}

@media (max-width: 900px) {
  .pattern-image {
    width: 160%;
  }
}

.header-color .below-mask-relative {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.header-color-relative {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 80%;
}
.header-characters-image {
  position: relative;
  height: 100%;
  width: 100%;
}
.header-characters-image .character-1 {
  position: absolute;
  bottom: 100px;
  /* right: 60px; */
  right: 0;
}
.header-characters-image .character-2 {
  position: absolute;
  top: 40px;
  left: 40px;
}
.header-characters-image .character-3 {
  position: absolute;
  top: 40px;
  right: 40px;
}
.header-characters-image .character-4 {
  position: absolute;
  bottom: 80px;
  left: 10%;
}
.header-characters-image .character-5 {
  position: absolute;
  bottom: 100px;
  right: 0;
}

/* .image-width {
  width: 100%;
} */

.circle-background {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 10px
    ),
    repeating-linear-gradient(#ccceff55, #ccceff);
}

.footer-first {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgb(32, 32, 60);
  color: rgb(240, 245, 248);
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 24px 60px;
}
.footer-heading {
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.footer-first span {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-second {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(22, 22, 42);
  padding: 12px;
}
